<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/common/reset.css"><!-- css for reset  -->    
    <link href="/css/index/login.css" rel="stylesheet">
    <link href="/css/index/overlay.css" rel="stylesheet">
	<script src="/js/common/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->

    <title>Cementify Admin</title>


</head>

<body>
<% include ../partials/loginModal.ejs %>
	<header role="banner">
		<nav class="main-nav">
			<ul>
				<!-- insert more links here -->
				<li><a style = "display:none" class="cd-signin" href="#0">Sign in</a></li>
				<li><a style = "display:none" class="cd-signup" href="#0">Sign up</a></li>
			</ul>
		</nav>
	</header>



	<!-- The overlay -->
	<div id="myNav" class="overlay">

	</div>




	<!-- jQuery -->
	<script src="/js/common/jquery.min.js"></script>
	<script src="/js/index/overlay.js"></script> <!-- js for login -->
	<script src="/js/index/login.js"></script> <!-- js for login -->

</body>


</html>