<h4><%= title %></h4>
<button onclick="goBack()">Update this post again?</button>
<a href="/blog/index">Update more posts</a>
<script>
function goBack() {
    // window.history.back();
    window.location = document.referrer;
}
</script>
<p>The blog has been updated and will reflect on the website now.</p>