<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <title>Text editor to publish Articles</title>
    <meta name="description" content="Pedesa is a free magazine HTML theme"></meta>
    <meta name="keywords" content="html,css,web,website,webdesign,magazine,blog,free"></meta>
    <meta name="author" content="Aristotheme"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="shortcut icon" type='image/x-icon' href="/img/favicon/favicon.ico"/>    
    <link rel="stylesheet" href="/css/common/reset.css"><!-- css for reset  -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"></link><!-- Bootstrap core CSS -->
    <script src="/js/common/jquery.min.js"></script> <!-- js for jquery -->
    <script src="/js/common/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
    <script src="/js/common/dropzone.js"></script>  <!-- js for the add files area /-->
    <link rel="stylesheet" type="text/css" href="/css/common/tooltipster.css"></link> <!-- css for tooltipster -->
    <link rel="stylesheet" type="text/css" href="/css/blog/form.css"></link> <!-- css for text editor and form for submission , including the tooltip stuff-->
    <link rel="stylesheet" href="/css/common/sweetAlert.css"><!-- css for sweet alert -->
    <link rel="stylesheet" href="/css/blog/editPost/sortable.css"><!-- css for todo list for selecting the images -->
    <script src="/js/blog/editPost/sortable.js"></script> <!-- js for the todo list with images -->
    <script src="/js/blog/editPost/form.js"></script> <!-- js for the form - handles form validation and tooltip and floating stuff -->
    <script src="/js/blog/editPost/imageUpload.js"></script>  <!-- js for the add files area /-->
    

</head>

<body>

<form method="post" action="/blog/writePost">
    <h1 class="heading">Change Blog Title</h1>
    <div class="cd-normal-form floating-labels">
        <fieldset>

            <div class="icon">
                <!-- <label class="cd-label" for="cd-title">Title</label> -->
                <input class="user myfield-title required" type="text" name="cd-title" id="cd-title" type="text" aria-describedby="myfield_description">
                <span id="myfield_description" role="tooltip">Please insert your title here</span>
            </div>                          

        </fieldset>
    </div>
    <div class="textEditor container">
        <section>
            <h1 class="heading">Change the blog entry below</h1>
            <br/>
                <textarea id="mytextarea" name = "textArea">Hello, World!</textarea>
        </section>
        <section>
            <h1 class="heading">Change Blog Details</h1>
            <div class="cd-normal-form floating-labels">


                <fieldset>
                    <legend>Category</legend>

                    <div>
                        <!--<h4>Budget</h4>-->

                        <p class="cd-select icon">
                            <select class="category" name="category" >
                                <option value="" >Select an option</option>
                                <option value="0">Carpenter</option>
                                <option value="1">Carpenter</option>
                                <option value="2">Carpenter</option>
                                <option value="3">Carpenter</option>
                            </select>
                            <span id="myfield_description" role="tooltip">Please select an option</span>

                        </p>
                    </div>

                    <legend>Subcategory</legend>

                    <div>
                        <!-- <h4>Budget</h4> -->

                        <p class="cd-select icon">
                            <select class="subcategory" name="subcategory">
                                <option value="" >Select an option</option>
                                <option value="0">Door</option>
                                <option value="1">Window</option>
                                <option value="2">Cabinet</option>
                                <option value="3">Floor</option>
                            </select>
                            <span id="myfield_description" role="tooltip">Please select an option</span>
                        </p>
                    </div>

<!--                     <fieldset>
                        <legend>Your Info</legend>
                        <div class="icon">
                            <input class="user myfield-name required" type="text" name="cd-name" id="cd-name" type="text" aria-describedby="myfield_description">
                            <span id="myfield_description" role="tooltip">Please insert your name here</span>
                        </div> 
                        <div class="icon">
                            <textarea class="message myfield-about  required" name="cd-textarea" id="cd-textarea"></textarea>
                            <span id="myfield_description" role="tooltip">Please insert your description here</span>
                        </div>                        
                    </fieldset> -->


                </fieldset>
            </div>

            <fieldset>
                <legend style="text-align: center;">Delete / Reorder / Select Cover Photo :</legend>               
            </fieldset>
              <!-- List with handle -->
              <div id="listWithHandle" class="list-group">
                <div class="list-group-item">
                  <!-- <span class="glyphicon glyphicon-move" aria-hidden="true"></span> -->
                  <img src="http://placehold.it/350x150">
                  <input type="radio" name="gender" value="female">
                  <i class="js-remove">✖</i>
                </div>
                <div class="list-group-item">
                  <!-- <span class="glyphicon glyphicon-move" aria-hidden="true"></span> -->
                  <img src="http://placehold.it/350x151">
                  <input type="radio" name="gender" value="female">
                  <i class="js-remove">✖</i>
                </div>
                <div class="list-group-item">
                  <!-- <span class="glyphicon glyphicon-move" aria-hidden="true"></span> -->
                  <img src="http://placehold.it/350x152">
                  <input type="radio" name="gender" value="female">
                  <i class="js-remove">✖</i>
                </div>
              </div>

            <br>               

            <div class = "imageUpload">
                <fieldset>
                    <legend>Add Multiple Images To This Blog Post ( Optional ):</legend>

                    <!--<div class="icon">-->
                    <!--<input type="file" name="img" multiple></input>-->
                    <!--</div>-->
                    <%- include ../partials/blogImageUpload.ejs %>
                </fieldset>
            </div>

            <div class="cd-normal-form floating-labels" >
                <div>
                    <input type="submit" value="Update Blog"></input>                    
                </div>
            </div>
        </section>

        <section>

        </section>

    </div>
</form>

<br></br>
<br></br>


<script src="/js/common/tinymce/tinymce.min.js"></script> <!-- js for the text editor -->
<script type="text/javascript">

    var isLoggedIn = <%- JSON.stringify(isLoggedIn) %>; 
    var blogContent = <%- (content) %>; 
    var contentForTinyMCE = blogContent[0]["paragraphs"][1]["text"];
    // console.log(JSON.stringify(blogContent));
    blogContent = blogContent[0];
    var blogId = blogContent.blogId;   
    // var blogComments = <%- (comments) %>; 
    // console.log(JSON.stringify(blogComments));


    var byId = function (id) { return document.getElementById(id); };

    // List with handle
    Sortable.create(byId('listWithHandle'), {
        // handle: '.glyphicon-move',
        animation: 150,
        filter: '.js-remove',
        onFilter: function (evt) {
          evt.item.parentNode.removeChild(evt.item);
        }

    });

</script>
<script>
    $(document).ready(function(){
        tinymce.init({
            selector: '#mytextarea',
            height: "450px",
            width : "80%",
            plugins: [
            ' autolink lists link image  preview hr anchor',
            'searchreplace wordcount code',
            ' save table contextmenu directionality',
            ' paste textcolor colorpicker textpattern imagetools'
            ],
            removed_menuitems: 'undo, redo,visualaid, cell,row,column',

            toolbar1: ' undo redo  | bold italic | alignleft aligncenter alignright | bullist numlist | link image ',
            toolbar2: ' preview ',
            content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css',
            '/css/blog/innerLayout.css'
            ],
            setup: function (ed) {
                ed.on('init', function(args) {
                    console.debug(args.target.id);
                    console.log(tinymce.activeEditor);
                    tinymce.activeEditor.setContent(contentForTinyMCE);
                });
            }
        });
    });




</script>

</body>
<script src="/js/common/sweetAlert.js"></script><!-- js for sweet alert -->

<script src="/js/common/tooltipster.js"></script> <!-- js for tooltipster -->
<link rel="stylesheet" type="text/css" href="/css/blog/write.css"></link> <!-- css for the tinymce and headings and image upload area -->

</html>